@import "../node_modules/antd/dist/antd.less";
@body-background: #ffffff;
@primary-color: #51b148;
@error-color: #f44336;
@secondary-color: #2660a4;
@layout-body-background: #fff;
@layout-footer-background: #fff;


@layout-header-background: @primary-9;
@layout-trigger-background: @primary-10;
@icon-color: rgba(0, 0, 0, 0.25);
@card-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);

@layout-header-background: #9B6E5C;
@menu-highlight-color:#000;
@menu-item-color: #fff;
@menu-bg: transparent;
@layout-header-height:55px;
@layout-header-width:100%;

@success-color: @primary-color;
.ant-select-selection--single .ant-select-selection__rendered {
  margin-right: 32px;
}
.ant-carousel {
  .slick-next {
    &::before {
      content: "";
    }
  }
  .slick-prev {
    &::before {
      content: "";
    }
  }
}

.ant-card {
  border-radius: @border-radius-base;
  box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.6);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
}
hr {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.bill-comment {
  max-height: 32px;
  overflow: hidden;
  position: relative;
  transition: max-height 0.2s ease-in;
}

.bill-comment:hover {
  max-height: 200px;
}

.bill-comment:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.bill-comment:hover:after {
  opacity: 0;
}

.bill-comment > h1 {
  font-size: 1.2em;
}
